@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--Cream);
    font-family: "Montserrat", sans-serif;
}

img {
    max-inline-size: 100%;
    block-size: auto;
    max-width: 100%;
    display: block;
}

.main {
    padding: 0 1rem;
    max-width: 43.75rem;
}



@media screen and (max-width: 43em) {
    .main .Prod-card {
        flex-direction: column;
        border-radius:0.75em;
        background-color: var(--White);
    }
    .Prod-card .prod-img .img-mobile{
        border-top-left-radius: 0.75em;
        border-top-right-radius: 0.75em;
    }
}

.Prod-card .prod-img {
    overflow: hidden;
    object-fit: cover;
}

.img-desktop {
    display: none;
}

.Prod-card .prod-details {
    padding: 1.25em;
}

.prod-details .prod-category {
    font-size: 0.8rem;
    opacity: .8;
    color: var(--Dark-grayish-blue);
    margin-bottom: 0.75em;
    font-weight: 600;
}

.prod-details .prod-name {
    font-size: 2em;
    font-family: 'Fraunces';
    margin-top: 1rem;
}

.prod-details .product-description {
    margin-top: 1.25rem;
    line-height: 1.5;
    color: var(--Dark-grayish-blue);
    font-size: 0.9em;
    font-weight: 500;
}

.prod-price {
    display: flex;
    align-items: center;
    margin-top: 1.5em;
    gap: 1em;
}

.prod-price .new-price{
    color: var(--Dark-cyan);
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Fraunces';
}

.prod-price .old-price {
    text-decoration: line-through;
    color: var(--Dark-grayish-blue);
    opacity: .8;
    font-size: 1rem;
    font-weight: 600;
}

.Prod-card .cta-btn {
    background-color: var(--Dark-cyan);
    color: var(--White);
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 2em;
    border-radius: 0.75em;
    gap: .8em;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

@media screen and (min-width: 43em) {
    .main .Prod-card {
    display: flex;
    flex-direction: row;
    border-radius:0.75em;
    background-color: var(--White);
    }
    .prod-img {
        width: auto;
        height: 100%;
        object-fit: cover;
        border-radius: 0.75em 0 0 0.75em;
    }
    .prod-details {
        max-width: 30ch;
    }

    .prod-details .prod-name {
        font-size: 2.5em;
    }
    .prod-details .product-description {
        font-size: 1em;
    }

    .img-mobile {
        display: none;
    }
    .img-desktop {
        display: block;
    
}

